body {
  background-color: #66728a !important ;
}

a {
	color : #FFF !important;
}

.logomid {
	padding-top : 3cm;
	display: block;
	max-width: 20% !important;
	margin: 0 auto;
	height: auto;
}

.logo-texte {
	padding-top : 5px;
	display: block;
	margin: 0 auto;
	width: 20%;
	height: auto;

}

.form-search {
	padding-top: 5px;
}

.search-input {
  max-width:500px;
  display: block;
  margin: 0 auto;
}

.search-navigation {
	padding-top : 5px;
	max-width:500px;
	margin: 0 auto;
}

.text-url {
	color : #f0ad4e;
}

.loading-text {
	padding-top : 10px;
	color: white;
	margin: 0 auto;
	width: 200px;
}

.modal-content {
  background-color: #66728a !important ;
  color: white;
}