body {
  background-color: #66728a !important ;
}

a{
	color : #FFF !important;
}

.gitlink {
	float: left;
}


.extlink {
	float: right;
}

.logomid{
	display: block;
	max-width: 10%;
	height: auto;
	margin: 0 auto;
}

.textemid{
	display: block;
	margin: 0 auto;
	max-width: 10%;
	height: auto;

}

.blockmid{
	width:40%;
	display: block;
	margin: 0 auto;
}

.inputmid{
  width:100%;
  max-width:500px;
  display: block;
  margin: 0 auto;
  height: auto;
}

.results{
	margin: 0 2cm;
}
