body {
  background-color: #FFFFFF;
}

.gitlink {
	float: left;
}


.extlink {
	float: right;
}

.logomid{
	display: block;
	margin: 0 auto;
	height:300px;
	width:300px;
}

.blockmid{
	width:40%;
	display: block;
	margin: 0 auto;
}

.inputmid{
  width:100%;
  max-width:500px;
  margin-bottom: 25px;
}

.results{
	margin: 0 2cm;
}
