body {
	padding: 10px;
	width: 400px;
	background-color: #66728a;
	color: white;
}

a {
	color: #f0ad4e;
}

legend {
	color: white;
}

.logo {
	width: 150px;
	margin: 0 auto;
}

.login-form {
	text-align: center;
	width: 200px;
	margin: 0 auto;
}

.login-btn {
	margin-top: 5px;
}
