<div class="container-fluid outerdiv">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <img src="image/octocat.png" style="float:left" alt="octocat" height="40" width="40"><a class="navbar-brand" href="https://github.com/Callidon/GalacticHorse.git"><b>&nbsp;GalacticHorse</b> <span class="span-style">HandiSearch</span></a>
          </div>
        </div>
      </nav>

      <noscript>
        <div class="nojs">Javascript is either disabled or not supported in your browser. Please enable it or use a Javascript enabled browser.</div>
      </noscript>
		

        <div class="input-group search-bar">
			<input type="text" ng-model="searchCtrl.search" ng-change="searchCtrl.change()" class="form-control" placeholder="Enter search" autofocus />
			<span class="input-group-addon bar-style"><i class="glyphicon glyphicon-search"></i></span>
		</div>
		<button type="button" ng-click="searchCtrl.previousPage();">Previous page</button>
		<button type="button" ng-click="searchCtrl.nextPage();">Next page</button>
		<br/>
		<div ng-repeat="n in [0,1,2,3,4,5,6,7,8,9]">
			<b><a href="{{searchCtrl.details.data.items[n].link}}">{{searchCtrl.details.data.items[n].title}} </a> </b><br/>
			{{searchCtrl.details.data.items[n].displayLink}} <br/>
			<br/>
		</div> 

    </div>