<div class="gitlink">
	<a href="https://github.com/Callidon/GalacticHorse.git">
		<img src="images/octocat.png" alt="octocat" height="50" width="50" >
		<b>&nbsp;GalacticHorse</b> <span>Repository</span>
	</a>
</div>

<div class="extlink">
<a href="https://github.com/Callidon/GalacticHorse/#">
	<img src="images/logo-ext.svg" alt="extension" height="50" width="50" >
	<b>&nbsp;GalacticHorse</b> <span>Extension</span>
</a>
</div>

<br/>
<br/>
<br/>
<br/>

	<img src="images/logo.png" class="logomid" alt="logo" id = "logo">
	<img src="images/textelogo.svg" class="textemid" alt="txtlogo" id = "txtlogo">
	<br/>
	<div class="blockmid" id="bm">
		<input type="text" ng-model="searchCtrl.search" ng-change="searchCtrl.change()" class="inputmid" placeholder="Enter search" autofocus /><span class="glyphicon glyphicon-search"></span>
		<div style ="margin: 0 auto;width:40%;">
			<button type="button" ng-click="searchCtrl.previousPage();">Previous page</button>
			<button type="button" ng-click="searchCtrl.nextPage();">Next page</button>
		</div>
	</div>
<br/>
<br/>
<div id="res" class="results">

		<div ng-repeat="item in searchCtrl.details.data.items">
			<b><a href="{{item.link}}">{{item.title}} </a> </b><br/>
			{{item.displayLink}} <br/>
			{{item.snippet}} <br/>
			<br/>
</div
